{# If you have a "Content Type" for header in Built.io Contentstack then use get() view helper to retrieve header entry. #}
{# e.g. set header = get("header_content_type_id") #}
{# And then render header values using the {{header.field_name}} #}

{% set header = get('header') %}

<header>
  <div class="row">
    {% for header in header.header_images %}
      <div class="col-sm-4">
        <div class="music-mike">
        <img src="{{header.image.url}}" alt="{{header.alt}}">
        </div>
      </div>
    {% endfor %}
    <div class="col-sm-4">
      <div class="search-text">
      <img class="search-icon" src="{{header.search_image.url}}">
        <input type="text" name="search" placeholder="Search..." class="search">   
      </div>
    </div> 
  </div>
  
  <div class="navbar1">
    <ul class="ulist1 row">
      {% for navbar in header.menu.link %}
        <li class="list1">
          <a href="{{navbar.href}}">{{navbar.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</header>

